@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}
body{
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
}
p{
    font-family: "Roboto",sans-serif;
    color: var(--secondary-text-color);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1100px;
    margin-inline: auto;
    overflow: hidden;
    

}
.flex{
    display: flex;
    align-items: center;
}
nav{
/*  background-color: #f3faff; */
 background-color: #c1e4fe;
 box-shadow: 0 0 4px #bbd0e2;
 position:fixed;
 z-index: 99;
 top: 0;
 left: 0;
 right: 0;
}
.main-nav{
    justify-content: space-between;
    padding-block: 8px;
}
.logo img{
    width: 120px;
}
.nav-links ul{
    gap:16px;
}
.nav-item.active{
    columns: var(--accent-color);
}
.hover-link{
    cursor: pointer;
}
.hover-link:hover{
    color: var(--secondary-text-color);
}
.hover-link:active{
    color: red;
}
.search-bar{
    height: 32px;
    gap:8px;
}
.news-input{
    font-family: "Roboto",sans-serif;
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
}
.search-button{
    font-family: "Roboto",sans-serif; 
    background-color: var(--accent-color);
    padding: 8px 24px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.search-button:hover{
    background-color:var(--accent-color-dark) ;
}
main{
    padding-block: 20px;
    margin-top: 80px;
}
.card-container{
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 25px;
    align-items: start;
}
.card{
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}
.card:hover{
    background-color: #f9fdff;
    box-shadow: 1px 1px 8px #d4ecff;
    transform: translateY(-2px);
}
.card-header img{
    width:100%;
    height: 180px;
    object-fit: cover;
}
.card-content{
    padding: 8px;
}
.news-source{
    margin-block: 8px;
}
